@model IEnumerable<Primus.Models.SchoolsGridViewModel>
@using Primus.DAL;
@using Primus.Models;


@{
    ViewBag.Title = "Σχολές";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .k-grid .k-alt {
        background-color: #e9e9e9; /* specify the alternate background-color */
    }
</style>

    @Html.AntiForgeryToken()
    <div class="page-header" style="margin:5px 30px 5px 30px">
        <span style="margin:5px 30px 5px 0px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
            <font style="color:#494949;font-family:'Segoe UI'">Σχολές (ΕΠΑΣ, ΣΕΚ-ΠΣΕΚ)</font>
        </span>
        <span style="margin:5px 10px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "Admin", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
        <button class="btn btn-success" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
    </div>

    <div class="body-content" style="margin:10px 30px 5px 30px">

        @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(m => m.SCHOOL_NAME).Width(40)
                .ClientFooterTemplate("Ολικό πλήθος: #=count#")
                .ClientGroupFooterTemplate("Πλήθος: #=count#");
            columns.ForeignKey(m => m.SCHOOL_TYPE, (IEnumerable<ΣΥΣ_ΣΧΟΛΙΚΕΣ_ΔΟΜΕΣ>)ViewData["schoolDomes"], "ΔΟΜΗ_ΚΩΔ", "ΔΟΜΗ_ΚΕΙΜΕΝΟ").Width(20);
            columns.Bound(m => m.ΔΙΕΥΘΥΝΤΗΣ).Width(30);
            columns.Bound(m => m.ΤΗΛΕΦΩΝΑ).Width(30);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(34);
            columns.Template(
                @<text></text>)
            .ClientTemplate(
            "<a class=\"k-button k-button-icontext\" href='" + Url.Action("XSchoolEdit", "Setup") + "?schoolId=#=SCHOOL_ID#'><span class=\"k-icon k-edit\"></span>Στοιχεία</a>"
            ).Width(16);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .HtmlAttributes(new { style="font-size:13px" })
        .Navigatable()
        .Filterable()
        .Groupable()
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(380))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
        .Ajax()
        .Batch(false)
        .PageSize(40)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.SCHOOL_ID);
            model.Field(p => p.SCHOOL_TYPE).DefaultValue(1);
        })
        .Create(create => create.Action("School_Create", "Setup"))
        .Read(read => read.Action("School_Read", "Setup"))
        .Update(update => update.Action("School_Update", "Setup"))
        .Destroy(destroy => destroy.Action("School_Destroy", "Setup"))
        .Events(events => events.Error("error_handler"))
        .Aggregates(a =>
        {
            a.Add(p => p.SCHOOL_NAME).Count();
        })

        ) @* datasource*@
        )

    </div>

<script type="text/javascript">

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
            $("#Grid").data("kendoGrid").dataSource.read();
        }
    }

</script>
