
@{
    ViewBag.Title = "Αρχική Διαχειριστή";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: medium;
    }
</style>


<body>
    <div class="row" style="align-content:center;margin:20px 20px 20px 40px">

        @Html.Kendo().PanelBar().Name("infoPanel").Items(items =>
        {
            items.Add().Text("ΟΔΗΓΙΕΣ 1 (Ρυθμίσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Ρυθμίσεις που χρειάζονται για τη λειτουργία της εφαρμογής
                    </font>
                </span>
                <br />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Στοιχεία των σχολών:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή εμφανίζεται πλέγμα με τις σχολικές μονάδες. Τα στοιχεία για κάθε σχολική μονάδα καταχωρούνται από τα σχολεία, αλλά παρέχεται εδώ
                        η δυνατότητα καταχώρησης δεδομένων σε περίπτωση που υπάρχουν ελλιπή στοιχεία.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να επεξεργαστούμε τα πλήρη στοιχεία ενός σχολείου πατάμε το κουμπί "Στοιχεία" που βρίσκεται στο δεξιό άκρο της κάθε γραμμής πλέγματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη σελίδα που ανοίγει, εμφανίζεται η φόρμα στοιχείων του σχολείου. Καταχωρούμε, εάν είναι απαραίτητο, τα πεδία που δεν έχουν τιμές και πατάμε "Αποθήκευση".
                        Όλα τα πεδία εδώ είναι υπχρεωτικά εκτός από τα "Υποδιευθυντής και Φύλο υποδιευθυντή". Αν κάποιο υποχρεωτικό πεδίο μείνει κενό, τότε στην αποθήκευση, 
                        εμφανίζεται μήνυμα σφάλματος. 
                    </li>
                    <li style="margin-bottom:10px">
                        Το πεδίο "Φύλο" χρειάζεται προκειμένου στα έντυπα της εφαρμογής να γίνεται χρήση του κατάλληλου ουσιαστικού και να αποφεύγεται έτσι το<br />
                        λεκτικό π.χ. "Ο/Η ΔΙΕΥΘΥΝΤΗΣ/ΔΙΕΥΘΥΝΤΡΙΑ".
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Ειδικότητες των σχολών:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή υπάρχουν δύο πλέγματα. Στο άνω πλέγμα υπάρχουν τα σχολικά έτη και στο κάτω πλέγμα οι ειδικότητες που υλοποιεί
                        το κάθε σχολείο για το επιλεγμένο σχολικό έτος.
                    </li>
                    <li style="margin-bottom:10px">
                        Το πλέγμα ειδικοτήτων εμφανίζεται από προεπιλογή ομαδοποιημένο ως προς το σχολείο. 
                    </li>
                    <li style="margin-bottom:10px">
                        Από το επάνω πλέγμα επιλέγουμε το σχολικό έτος με κλικ στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο κάτω πλέγμα εμφανίζονται οι αντίστοιχες ειδικότητες, όπως αυτές έχουν καταχωρηθεί από τα σχολεία. Στην περίπτωση που υπάρχουν ελλιπή στοιχεία,
                        μπορούμε να κάνουμε επεξεργασία του πλέγματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Αν λείπει κάποια ειδικότητα, στο κάτω πλέγμα πατάμε "Νέα Εγγραφή" και επιλέγουμε μια ειδικότητα από την πτυσσόμενη λίστα. Στη συνέχεια αποθηκεύουμε την εγγραφή
                        πατώντας το κουμπί "Ενημέρωση" που βρίσκεται δεξιά της στήλης "Ειδικότητα".
                    </li>
                    <li style="margin-bottom:10px">
                        Επαναλαμβάνουμε τα παραπάνω βήματα για κάθε άλλη ειδικότητα που υλοποιεί το σχολείο.
                    </li>
                    <li style="margin-bottom:10px">
                        Εάν θέλουμε να τροποποιήσουμε ή να διαγράψουμε μια καταχωρημένη είδικότητα πατάμε τα κουμπιά "Επεξεργασία" ή "Διαγραφή" αντίστοιχα.
                    </li>
                    <li style="margin-bottom:10px">
                        Η προεπιλεγμένη ομαδοποιήση ως προς το σχολείο απντά άμεσα και εύκολα στο ερώτημα "Ποιες ειδικότητες υλοποιεί κάποιο σχολείο". Μπορούμε να καταργήσουμε
                        αυτή την ομαδοποίηση πατώντας το "x" στο κουμπί με τ όνομα της στήλης που βρίσκεται στη γραμμή ομαδοποίησης (βλ. ΟΔΗΓΙΕΣ 7 (Λειτουργίες πλεγμάτων)).
                    </li>
                    <li style="margin-bottom:10px">
                        Εάν, τώρα, αντί της παραπάνω ομαδοποίησης, κάνουμε ομαδοποίηση ως προς την Ειδικότητα, τότε παίρνουμε άμεσα και εύκολα απάντηση στο ερώτημα<br />
                        "Ποια σχολεία υλοποιούν κάποια ειδικότητα". Γενικά, η ομαδοποίηση ως προς μία ή περισσότερες στήλες (συνήθως όχι πάνω από τρεις) είναι ένα
                        πολύ χρηστικό εργαλείο προβολής των δεδομένω ενός πλέγματος.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Σχολικά έτη:
                <ul>
                    <li style="margin-bottom:10px">
                        Οι καταχωρήσεις στο πλέγμα αυτό γίνονται μόνο από τους διαχειριστές της εφαρμογής.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να καταχωρήσουμε ένα σχολικό έτος πατάμε "Νέα Εγγραφή" και συμπληρώνουμε τιμές στις στήλες. Στη συνέχεια πατάμε το κουμπί "Ενημέρωση"
                        για να αποθηκευθούν τα δεδομένα.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Ειδκότητες ΕΠΑΣ, ΣΕΚ-ΠΕΣΚ:
                <ul>
                    <li style="margin-bottom:10px">
                        Οι καταχωρήσεις στο πλέγμα αυτό γίνονται μόνο από τους διαχειριστές της εφαρμογής.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να καταχωρήσουμε ένα μια ειδικότητα πατάμε "Νέα Εγγραφή" και συμπληρώνουμε τιμές στις στήλες. Στη συνέχεια πατάμε το κουμπί "Ενημέρωση"
                        για να αποθηκευθούν τα δεδομένα.
                    </li>
                    <li style="margin-bottom:10px">
                        Οι ειδικότητες που καταχωρούνται εδώ αφορούν τις εγκεκριμένες, για κάθε σχολικό έτος, ειδικότητες των σχολείων.
                    </li>
                    <li style="margin-bottom:10px">
                        Οι ειδικότητες αυτές χρειάζονται παντού στην εφαρμογή, διότι τροφοδοτούν με δεδομένα τις πτυσσόμενες λίστες ειδικότητας σε πολλές
                        σελίδες της εφαρμογής. Για παράδειγμα, χωρίς τα στοιχεία του πλέγματος αυτού, δεν μπορούν τα σχολεία να καταχωρήσουν τις ειδικότητες
                        που υλοποιούν για κάθε σχολικό έτος, ούτε να καταχωρήσουν στοιχεία των μαθητών.
                    </li>
                </ul>
            </p>
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 2 (Ειδικές ρυθμίσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Οι περισσότερες επιλογές εδώ αφορούν παραμετρικά στοιχεία για τις αιτήσεις και αποφάσεις.
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Λογαριασμοί σχολών:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή δημιουργούνται τα στοιχεία εισόδου του κάθε σχολείου στην εφαρμογή (όνομα χρήστη, συνθηματικό).
                    </li>
                    <li style="margin-bottom:10px">
                        Εάν, για οποιοδήποτε λόγο, χρειαστεί αλλαγή των κωδικών πρόσβασης στην εφαρμογή, πατάμε το κουμπί "Αλλαγή κωδικών", οπότε
                        δημιουργούνται νέα συνθηματικά για τα οποία ενημερώνεται το κάθε σχολείο ξεχωριστά.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Λογαριασμοί διαχειριστών:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή δημιουργούνται τα στοιχεία εισόδου του κάθε διαχειριστή στην εφαρμογή (όνομα χρήστη, συνθηματικό).
                    </li>
                    <li style="margin-bottom:10px">
                        Για τη δημιουργία ενός λογαρισμού διαχειριστή, πατάμε "Νέα εγγραφή" και καταχωρούμε το όνομα χρήστη, και ένα συνθηματικό. Στη στήλη "Επίπεδο"
                        δίνουμε τιμή 1 ή 2 (δεν έχει σημασία). Στη συνέχεια πατάμε "Αποθήκευση αλλαγών" - αγνοούμε τη στήλη "Ενεργός".
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Είδη επιδομάτων:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή εμφανίζεται πλέγμα με τα είδη επιδομάτων και μια σύντομη περιγραφή.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα στοιχεία αυτά χρησιμοποιούνται παντού στην εφαρμογή (Αιτήσεις, Αποφάσεις, Επιδοτήσεις, Στατιστικά).
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Ποσά επιδομάτων:
                <ul>
                    <li style="margin-bottom:10px">
                        Στο πλέγμα της σελίδας αυτής εμφανίζονται τα ποσά επιδομάτων για κάθε σχολικό έτος. Τα στοιχεία αυτά χρησιμοποιούνται από την εφαρμογή
                        στις αιτήσεις μαθητών και στην έκδοση αποφάσεων.
                    </li>
                    <li style="margin-bottom:10px">
                        Πρέπει να υπάρχουν καταχωρημένα στοιχεία για κάθε σχολικό έτος που χρησιμοποιεί η εφαρμογή, έστω και αν οι τιμές των πεδίων είναι ίδιες.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να καταχωρήσουμε στοιχεία για νέο σχολικό έτος πατάμε "Νέα εγγραφή" και συμπληρώνουμε τις στήλες. Τέλος πατάμε το κουμπί "Ενημέρωση"
                        που βρίσκεται δεξιά στη γραμμή του πλέγματος (εμφανίζεται μόνον όταν πατήσουμε "Νέα εγγραφή ή "Επεξεργασία") για να αποθηκεύσουμε.
                    </li>
                    <li style="margin-bottom:10px">
                        Προϋπόθεση για καταχώρηση στοιχείων για ένα σχολικό έτος, είναι να υπάρχει ήδη καταχωρημένο το σχολικό έτος (Βλ. ΟΔΗΓΙΕΣ 1 (Ρυθμίσεις)).
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                Κοινωνικά κριτήρια:
                <ul>
                    <li style="margin-bottom:10px">
                        Στο πλέγμα της σελίδας αυτής εμφανίζονται οι καταχωρημένες ευπαθείς κοινωνικές ομάδες. Τα στοιχεία αυτά χρησιμοποιούνται από την εφαρμογή
                        στις αιτήσεις μαθητών.
                    </li>
                    <li style="margin-bottom:10px">
                        Η καταχώρηση νέου κοινωνικού κριτηρίου γίνεται με τον ίδιο τρόπο, όπως στα προηγούμενα.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.6.png" style="width:42px;height:42px" />
                Ατίες απόρριψης αιτήσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Στο πλέγμα της σελίδας αυτής εμφανίζονται οι αιτίες για τις οποίες απορρίπτεται κάποια αίτηση. Τα στοιχεία αυτά χρησιμοποιούνται από την εφαρμογή
                        σττην αξιολόγηση των αιτήσεων των μαθητών από τη Διεύθυνση Α2.
                    </li>
                    <li style="margin-bottom:10px">
                        Η καταχώρηση αιτίας απόρριψης γίνεται με τον ίδιο τρόπο, όπως και στα προηγούμενα πλέγματα.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.7.png" style="width:42px;height:42px" />
                Διοικητικά στελέχη αποφάσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή ορίζονται οι διαχειριστές έκδοσης των αποφάσεων καθώς και τα διοικητικά στελέχη που υπογράφουν τις αποφάσεις. Υπάρχουν 6 πλέγματα
                        στα οποία γίνονται καταχωρήσεις.
                    </li>
                    <li style="margin-bottom:10px">
                        Στα πλέγματα "Προϊστάμενοι, Διευθυντές, Γενικοί Διευθυντές, Α' Αντιπρόεδροι και Διοικητές" οι καταχωρήσεις γίνονται για κάθε σχολικό έτος
                        για το οποίο εκδίδονται Αποφάσεις. 
                    </li>
                    <li style="margin-bottom:10px">
                        Εάν λείπουν οι καταχωρήσεις για το σχολικό έτος μιας απόφασης, τότε αυτή δεν μπορεί να αποθηκευθεί και συνεπώς να εκδοθεί.
                    </li>
                </ul>
            </p>
            <p /><p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 3 (Μαθητές)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Στη σελίδα αυτή εμφανίζονται οι καταχωρήσεις των μαθητών και αιτήσεών τους από την κάθε σχολική μονάδα.
                    </font>
                </span>
                <br />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Στοιχεία μαθητών:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα "Στοιχεία και αιτήσεις μαθητών" εμφανίζονται δύο πλέγματα. Στο επάνω πλέγμα γίνονται οι καταχωρήσεις των στοιχείων μαθητών<br />
                        και στο κάτω πλέγμα καταχωρούνται οι αιτήσεις στέγασης-σίτισης κάθε μαθητή. Αν και, φυσιολογικά, τα δεδομένα είναι ήδη καταχωρημένα από τα σχολεία,
                        παρέχεται η δυνατότητα προσθήκης και επεξεργασίας δεδομένων σε περίπτωση ελλιπών στοιχείων.
                    </li>
                    <li style="margin-bottom:10px">
                        Καταχώρηση μαθητών. Στο επάνω πλέγμα πατάμε "Νέα εγγραφή" και δίνουμε τιμές στις εμφανιζόμενες στήλες και κάνουμε αποθήκευση πατώντας το κουμπί
                        "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος.<br />
                        Στη συνέχεια, κάνουμε κλικ επάνω στη γραμμή του πλέγματος με τον συγκεκριμένο σπουδαστή, ώστε να επιλεγεί, και πατάμε "Καρτέλα" για να εμφανιστεί
                        η καρτέλα των ατομικών στοιχείων του σπουδαστή.
                    </li>
                    <li style="margin-bottom:10px">
                        Αν, μετά την αποθήκευση, ο νέος μαθητής δεν είναι άμεσα ορατός αυτό οφείλεται στο ότι έχει τοποθετηθεί σε κάποια άλλη θέση του πλέγματος, το οποίο
                        εμφανίζει τους μαθητές αλφαβητικά ταξινομημένους. Μπορεί, δηλαδή να βρίσκεται πιο κάτω ή σε άλλη σελίδα του πλέγματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Για διευκόλυνση των καταχωρήσεων, η σελίδα με τα στοιχεία του μαθητή ανοίγει σε νέα καρτέλα του περιηγητή (browser), ώστε η αρχική
                        σελίδα "Στοιχεία και αιτήσεις" να μένει συνέχεια ανοικτή για συνέχεια των εργασιών με αυτή.
                    </li>
                    <li style="margin-bottom:10px">
                        Συμπληρώνουμε όλα τα πεδία που εμφανίζονται. Κάποια πεδία, όπως το ΑΦΜ, είναι υποχρεωτικά που σημαίνει ότι δεν μπορούμε να αποθηκεύσουμε
                        εάν αυτά δεν είναι συμπληρωμένα. Η ημερομηνία γέννησης είναι επίσης πολύ σημαντική διότι υπολογίζεται η ηλικία του κάθε σπουδαστή.<br />
                        Η ηλικία υπολογίζεται ως προς την ημερομηνία της κάθε αίτησης του μαθητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Στα "Στοιχεία κατοικίας" είναι επίσης υποχρεωτικό να καταχωρηθούν η διεύθυνση και κάποιο τηλέφωνο.
                    </li>
                    <li style="margin-bottom:10px">
                        ΣΗΜΕΙΩΣΗ: Όταν ολοκληρωθούν οι καταχωρήσεις και γίνει αποθήκευση, στην καρτέλα σπουδαστή, πατάμε "Κλείσιμο καρτέλας" οπότε μένει ανοικτή η
                        αρχική σελίδα με τα δύο πλέγματα. Μια χρήσιμη λειτουργία παρέχεται από τα δύο κουμπιά στο επάνω μέρος τα: "Επαναφορά" και "Επιλογή". Πατώντας
                        αυτά επανέρχεται το πλέγμα στην κατάσταση που ήταν πριν αλλάξουμε σελίδα. Επανέρχεται, δηλαδή, στη σελίδα του πλέγματος που βρισκόμασταν
                        και επιλέγει πάλι τη γραμμή που είχαμε επιλέξει (εμφανίζεται χρωματισμένη). Μπορεί να χρειαστεί να κυλίσουμε τη ράβδο κύλισης για να
                        δούμε την επιλεγμένη γραμμή.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Αιτήσεις μαθητών:
                <ul>
                    <li style="margin-bottom:10px">
                        Για την καταχώρηση μιας αίτησης μαθητή πρέπει πρώτα να τον επιλέξουμε από το επάνω πλέγμα με κλικ, οπότε εμφανίζεται
                        χρωματισμένη η αντίστοιχη γραμμή του πλέγματος. Αν δεν επιλέξουμε μαθητή δεν μπορεί να γίνει καταχώρηση αίτησης.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο πλέγμα αιτήσεων μαθητή, πατάμε "Νέα εγγραφή" και συμπληρώνουμε τα στοιχεία των στηλών "Σχολικό έτος, Τάξη, Ημ/νία αίτησης". Για να αποθηκεύσουμε τα στοιχεία πατάμε
                        το κουμπί "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος. Η στήλη "Μαθητής" συμπληρώνεται από την εφαρμογή μετά την αποθήκευση.
                    </li>
                    <li style="margin-bottom:10px">
                        Μετά την αποθήκευση πατάμε το κουμπί "Στοιχεία αίτησης" για να ανοίξει η σελίδα με τα υπόλοιπα στοιχεία της αίτησης. Και πάλι, η σελίδα με τα στοιχεία
                        της αίτησης ανοίγει σε νέα καρτέλα του περιηγητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Η σελίδα με τα στοιχεία αίτησης αποτελείται από τη φόρμα "Στοιχεία αιτήσης" στο άνω τμήμα, και ένα πλέγμα, από κάτω, με τα κοινωνικά κριτήρια
                        που τυχόν αφορούν στον επιλεγμένο μαθητή. Στη φόρμα, κάποια πεδία εμφανίζονται με γκρι απόχρωση που σημαίνει ότι δεν μπορούμε να πληκτρολογήσουμε τιμές σε αυτά.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη σελίδα "Στοιχεία (2)" της φόρμας, τα πεδία "Αξιολόγηση, Επίδομα στέγασης, Επιδομα σίτισης και Αιτία απόρριψης" συμπληρώνονται μόνο από τη
                        Διεύθυνση Α2.
                    </li>
                    <li style="margin-bottom:10px">
                        Αφού ολοκληρώσουμε τις καταχωρήσεις, πατάμε το κουμπί "Αποθήκευση".
                    </li>
                    <li style="margin-bottom:10px">
                        Εάν ο μαθητής ανήκει σε κάποια ευπαθή κοινωνική ομάδα, την καταχωρούμε στο πλέγμα "Κοινωνικά κριτήρια αίτησης" που βρίσκεται από κάτω από τη φόρμα της αίτησης.
                    </li>
                    <li style="margin-bottom:10px">
                        Μπορούμε να καταχωρήσουμε περισσότερα από ένα κοινωνικά κριτήρια, εάν π.χ. ο μαθητής είναι τρίτεκνος και πάσχει από αναπηρία.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να καταχωρήσουμε ένα κοινωνικό κριτήριο, στο πλέγμα, πατάμε "Νέα Εγγραφή" και από τη πτυσσόμενη λίστα επιλέγουμε το καταλληλο στοιχείο.<br />
                        Στη συνέχεια, πατάμε "Ενημέρωση" για αποθήκευση της εγγραφής.
                    </li>
                    <li style="margin-bottom:10px">
                        Επαναλαμβάνουμε τα παραπάνω βήματα για κάθε κοινωνικό κριτήριο που αφορά στον μαθητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Όταν ολοκληρωθούν οι καταχωρήσεις πατάμε το κουμπί "Κλείσιμο καρτέλας" οπότε μένει ανοικτή μόνο η αρχική σελίδα, στην οποία συνεχίζουμε τις
                        καταχωρήσεις για τους υπόλοιπους μαθητές.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Μητρώο μαθητών:
                <ul>
                    <li style="margin-bottom:10px">
                        Η σελίδα αυτή έχει ενημερωτικό χαρακτήρα - δεν γίνεται εδώ επεξεργασία δεδομένων. Στο άνω τμήμα της σελίδας είναι το πλέγμα των μαθητών και στο
                        κάτω μέρος εμφανίζονται σε καρτέλα οι αιτήσεις και κάποια στοιχεία του επιλεγμένου μαθητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να επιλέξουμε ένα μαθητή κάνουμε κλικ στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη. Στην καρτέλα, στο κατω μέρος,
                        προβάλλονται τα στοιχεία του επιλεγμένου μαθητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Το πλέγμα εμφανίζεται με προεπιλεγμένη ομαδοποίηση ως προς τη σχολική μονάδα για ευκολία στην αναζήτηση κάποιων μαθητών. Για να καταργήσουμε
                        την ομαδοποίηση αυτή πατάμε το "x" στο κουμπί με το όνομα της στήλης που βρίσκεται στη γραμμή ομαδοποίησης.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα δεδομένα μπορούν ακόμη να ομαδοποιηθούν ως προς τις στήλες "Ειδικότητα" και "Παρατηρήσεις". Η χρησιμότητα ομαδοποίησης ως προς τις παρατηρήσεις
                        έγκειται στο ότι είναι εύκολο να εντοπισθούν οι μαθητές για τους οποίους υπάρχει κάποιο κείμενο στη στήλη "Παρατηρήσεις". Επειδή η ομαδοποίηση
                        ταξινομεί τις ομάδες αλφαβητικά, πρώτα εμφανίζεται η ομάδα εγγραφών χωρίς παρατηρήσεις και στο τέλος αυτές που έχουν κείμενο. Συνεπώς πηγαίνουμε
                        στις τελευταίες σελίδες του πλέγματος για να δουμε τους μαθητές με κάποιο κείμενο παρατηρήσεων.
                    </li>
                    <li style="margin-bottom:10px">
                        Στην περίπτωση που αναζητούμε κάποιο συγκεκριμένο μαθητή μπορούμε να κάνουμε χρήση των φίλτρων των στηλών (βλ. ΟΔΗΓΙΕΣ 7(Λειτουργίες πλεγμάτων)).
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Μητρώο αιτήσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Και η σελίδα αυτή έχει ενημερωτικό χαρακτήρα - δεν γίνεται εδώ επεξεργασία δεδομένων. Στο άνω τμήμα της σελίδας είναι το πλέγμα των αιτήσεων και στο
                        κάτω μέρος εμφανίζονται σε καρτέλα οι αιτήσεις και κάποια στοιχεία του επιλεγμένου μαθητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να επιλέξουμε μια αίτηση κάνουμε κλικ στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη. Στην καρτέλα, στο κατω μέρος,
                        προβάλλονται κάποια στοιχεία της επιλεγμένης αίτησης και του αντίστοιχου μαθητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Το πλέγμα εμφανίζεται με προεπιλεγμένη ομαδοποίηση ως προς το σχολικό έτος. Για να καταργήσουμε΄την ομαδοποίηση αυτή πατάμε το "x" στο κουμπί 
                        με το όνομα της στήλης που βρίσκεται στη γραμμή ομαδοποίησης (Σχολ. έτος).
                    </li>
                    <li style="margin-bottom:10px">
                        Τα δεδομένα μπορούν ακόμη να ομαδοποιηθούν ως προς οποιαδήποτε άλλη στήλη. Κάθε ομαδοποίηση πρακτικά απαντά σε κάποιο ερώτημα που έχουμε ως προς τα δεδομένα.
                        Για παράδειγμα, ομαδοποίηση ως προς τη στήλη "Συνέχεια" μας δίνει άμεσα ποιες αιτήσεις είναι συνέχειας ή όχι. Ομαδοποίηση ως προς το επίδομα μας δίνει τις
                        αιτήσεις ανά είδος επιδόματος. Μπορούμε πάντα να ομαδοποιήσουμε ως προς περισσότερες από μία στήλες, π.χ. ως προς σχολικό έτος και σχολική μονάδα κ.λπ.
                    </li>
                    <li style="margin-bottom:10px">
                        Στην περίπτωση που αναζητούμε κάποια συγκεκριμένη αίτηση μπορούμε να κάνουμε χρήση των φίλτρων των στηλών (βλ. ΟΔΗΓΙΕΣ 7(Λειτουργίες πλεγμάτων)).
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                Εκτυπώσεις μητρώου αιτήσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή έχουμε πρόσβαση στις εξής σελίδες:<br />
                        (α) Εγκριθείσες αιτήσεις, (β) Απορριφθείσες αιτήσεις, (γ) Εκκρεμείς αιτήσεις και (δ) Γενικά στοιχεία αιτήσεων (όλες οι αιτήσεις).
                    </li>
                    <li style="margin-bottom:10px">
                        Κοινές λειτουργίες: <br />
                        Στη σελίδα αυτή προβάλλονται σε πλέγμα οι αιτήσεις που έχουν εγκριθεί με τη δυνατότητα εκτύπωσης σχετικής έκθεσης.<br />
                        Στο άνω μέρος της σελίδας είναι οι αιτήσεις και στο κάτω τμήμα καρτέλα με τα βασικά στοιχεία της επιλεγμένης αίτησης και μαθητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Εκτύπωση της σχετικής έκθεσης:<br />
                        Η εκτύπωση της σχετικής έκθεσης γίνεται με πάτημα του κουμπιού "Εκτύπωση" στο άνω δεξιό μέρος της σελίδας.<br />
                        Η έκθεση έχει τέσσερις παραμέτρους στις οποίες πρέπει να δωθούν τιμές προκειμένου να εμφανιστούν τα αντίστοιχα δεδομένα. Οι παράμετροι
                        βρίσκονται στο δεξιό μέρος του έντυπου και είναι οι εξής: Σχολικό έτος, Περιφερειακή, Σχολική μονάδα και Επίδομα. 
                    </li>
                    <li style="margin-bottom:10px">
                        Σε κάθε παράμετρο κάνουμε κλικ για επιλογή τιμής. Εκτός από το σχολικό έτος, στις άλλες παραμέτρους μπορούμε να επιλέξουμε περισσότερες
                        από μία τιμές. Π.χ. για να εκτυπώσουμε κατάσταση με όλα τα σχολεία της Περιφερειακής Αττικής και Νήσων, κάνουμε κλικ στην περιφερειακή
                        και από το κάτω μέρος της λίστας σχολικών μονάδων πατάμε "Επιλογή όλων". Επειδή έχουμε επιλέξει μια περιφερειακή, τα δεδομένα θα περιέχουν
                        μόνο στοιχεία από τα σχολεία της επιλεγμένης περιφερειακής - παρά το ότι κάναμε "Επιλογή όλων".
                    </li>
                    <li style="margin-bottom:10px">
                        Για να εκτυπώσουμε την έκθεση πατάμε το κουμπί με το εικονίδιο του εκτυπωτή που βρίσκεται στη γραμμή εντολών στο επάνω μέρος της σελίδας.
                        Ανοίγει τότε παράθυρο διαλόγου το οποίο ζητά να ανοιχθεί με Acrobat Reader ή να αποθηκευθεί ως pdf. Για άμεση εκτύπωση χωρίς αποθήκευση, επιλέγουμε
                        άνοιγμα με Acrobat από το οποίο την εκτυπώνουμε στον τοπικό μας εκτυπωτή.
                    </li>
                    <li style="margin-bottom:10px">
                        Κάθε έκθεση μπορεί να εξαχθεί ως έγγραφο PDF, Word (Rich Text Format), ή ως αρχείο Excel κ.α. όσον αφορά την εξαγωγή σε Excel, εκθέσεις 
                        που περιέχουν ομαδοποιήσεις δεδομένων δεν έχουν πάντα καλή εμφάνιση στο αρχείο Excel. 
                    </li>
                </ul>
            </p>
            <p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 4 (Αποφάσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Από το μενού αυτό γίνεται η έκδοση αποφάσεων και η δημιουργία του μητρώου επιδοτήσεων
                    </font>
                </span>
                <br />
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                Κοινά στοιχεία αποφάσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Οι σελίδες αποφάσεων (χορήγησης, συνέχειας, κατ' εξ. στέγασης, κατ' εξ. σίτισης) έχουν κοινό τρόπο λειτουργίας.<br />
                        Κάθε σελίδα αποτελείται από το πλέγμα αποφάσεων, τη γραμμή επιδόματος και το πλέγμα με τις συνημμένες αιτήσεις.
                    </li>
                    <li style="margin-bottom:10px">
                        Το πλέγμα αποφάσεων έχει προεπιλεγμένη ταξινόμηση φθίνουσα ως προς το σχολικό έτος και την ημερομηνία σύνταξης, ώστε να
                        εμφανίζονται πρώτες οι πλέον πρόσφατες αποφάσεις. Εάν θέλουμε μπορούμε να προσθέσουμε και άλλη ταξινόμηση ή να καταργήσουμε
                        την υπάρχουσα και να δημιουργήσουμε άλλη (βλ. ΟΔΗΓΙΕΣ 7 (Λειτουργίες πλεγμάτων)).
                    </li>
                    <li style="margin-bottom:10px">
                        Για παράδειγμα, αν θέλουμε να εμφανίζονται πρώτα οι αποφάσεις σε στάδιο σχεδίου εγγράφου κάνουμε ένα κλικ στην κεφαλίδα της
                        στήλης "Είδος εγγράφου" οπότε στην υπάρχουσα ταξινόμηση προστίθεται αύξουσα ταξινόμηση ως προς το είδος εγγράφου. Αυτό έχει 
                        ως αποτέλεσμα να εμφανίζονται πρώτες οι πλέον πρόσφατες αποφάσεις τύπου σχέδιου εγρράφου.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να καταχωρήσουμε μια νέα απόφαση πατάμε "Νέα εγγραφή" στο πλέγμα και καταχωρούμε τιμές στις εμφανιζόμενες στήλες. Όλα τα πεδία
                        είναι υποχρεωτικά - δεν μπορεί να γίνει αποθήκευση αν δεν συμπληρωθούν. Στη συνέχεια, πατάμε "Ενημέρωση" για να αποθηκευθεί η απόφαση.
                    </li>
                    <li style="margin-bottom:10px">
                        Το επόμενο (σημαντικό) βήμα είναι να επιλέξουμε την απόφαση με κλικ στην αντίστοιχη γραμμή του πλέγματος ώστε να εμφανισθεί χρωματισμένη.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη γραμμή επιδόματος επιλέγουμε από το πλαίσιο λίστας "Για επίδομα" το είδος του επιδόματος που αφορά τη νέα απόφαση (π.χ. Στέγασης).
                    </li>
                    <li style="margin-bottom:10px">
                        Στο σημείο αυτό η εφαρμογή γνωρίζει ότι χρειάζεται για να επισυνάψει τις κατάλληλες αιτήσεις στη νέα απόφαση. 
                    </li>
                    <li style="margin-bottom:10px">
                        Πατάμε το κουμπί "Επισύναψη αιτήσεων" που βρίσκεται στο δεξιό άκρο της γραμμής επιδόματος. Εάν βρεθούν "αντίστοιχες" αιτήσεις αυτές
                        επισυνάπτονται στην απόφαση και εμφανίζονται στο κάτω πλέγμα των συνημμένων αιτήσεων.
                    </li>
                    <li style="margin-bottom:10px">
                        Ποιες είναι οι "αντίστοιχες" αιτήσεις:<br />
                        Όταν πατηθεί το κουμπί "Επισύναψη αιτήσεων", η εφαρμογή αναζητά τις αιτήσεις που έχουν τα στοιχεία "Σχολικό έτος", "Σχολή", "Είδος επιδόματος", "Συνέχεια επιδόματος"
                        ίδια με αυτά της απόφασης και της γραμμής επιδόματος. Αν και η "Συνέχεια επιδόματος" δεν εμφανίζεται πουθενά στη σελίδα, η εφαρμογή γνωρίζει για ποια τιμή να ψάξει
                        από το είδος της απόφασης (π.χ. για αποφάσεις χορήγησης οι κατάλληλες αιτήσεις είναι αυτές στις οποίες δεν έχει τσεκαριστεί το πεδίο "Συνέχεια επιδόματος").
                    </li>
                    <li style="margin-bottom:10px">
                        Αν ξαναπατηθεί το κουμπί "Επισύναψη αιτήσεων" δεν φέρνει ξανά τις αντίστοιχες αιτήσεις διότι η εφαρμογή ψάχνει πρώτα να διαπιστώσει εάν οι κατάλληλες
                        αιτήσεις έχουν ήδη επισυναφθεί. Αν τις βρει συνημμένες δεν κάνει τίποτα.
                    </li>
                    <li style="margin-bottom:10px">
                        Το επόμενο βήμα είναι να καταχωρήσουμε τα υπόλοιπα στοιχεία της νέας απόφασης και να την εκτυπώσουμε. Στην επιλεγμένη απόφαση πατάμε το κουμπί "Στοιχεία απόφασης".
                    </li>
                    <li style="margin-bottom:10px">
                        Η φόρμα με τα στοιχεία της απόφασης ανοίγει σε νέα καρτέλα του περιηγητή. Η φόρμα έχει τέσσερις καρτέλες στις οποίες τα περισότερα πεδία έχουν συμπληρωθεί αυτόματα.<br />
                        Συμπληρώνουμε όποια στοιχεία είναι κενά, π.χ. το έγγραφο σχολής, ή αλλάζουμε τις προεπιλεγμένες τιμές αν χρειάζεται. Στην καρτέλα "Στοιχεία δαπάνης" τα πεδία
                        έχουν υπολογισθεί και συμπληρωθεί αυτόματα από τα στοιχεία των συνημμένων αιτήσεων.
                    </li>
                    <li style="margin-bottom:10px">
                        Τέλος πατάμε το κουμπί "Αποθήκευση" για να αποθηκευθούν τα δεδομένα. Εάν δεν υπάρχουν σφάλματα εμφανίζεται μήνυμα επιτυχούς αποθήκευσης. Τα σφάλματα
                        είναι συνήθως να έχουν μείνει κενά κάποια υποχρεωτικά πεδία.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να εκτυπώσουμε την απόφαση πατάμε "Εκτύπωση" και στη σελίδα εκτύπωσης που ανοίγει σε νέα καρτέλα του περιηγητή την αποθηκεύουμε ως αρχείο PDF.
                    </li>
                    <li style="margin-bottom:10px">
                        Η τρίτη σελίδα της απόφασης περιέχει τους συνημμένους πίνακες αιτήσεων, όπως αυτοί έχουν προκύψει από τη λειτουργία της επισύναψης.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Αποφάσεις χορήγησης:
                <ul>
                    <li style="margin-bottom:10px">
                        Όλες οι εργασίες είναι ίδιες με τα παραπάνω αναφερθέντα.
                    </li>
                    <li style="margin-bottom:10px">
                        Για επισύναψη αιτήσεων στέγασης επιλέγουμε από το πλαίσιο λίστας "Για επίδομα" την τιμή "Στέγασης".
                    </li>
                    <li style="margin-bottom:10px">
                        Αν θέλουμε να επισυνάψουμε και αιτήσεις σίτισης (που δεν είναι κατ' εξαίρεση), μετά την πρώτη επισύναψη επιλέγουμε στο πλαίσιο λίστας "Για επίδομα"
                        την τιμή "Σίτισης" οπότε επισυνάπτονται και οι αντίστοιχες αιτήσεις σίτισης.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Αποφάσεις συνέχειας:
                <ul>
                    <li style="margin-bottom:10px">
                        Όλες οι εργασίες είναι ίδιες με τα παραπάνω αναφερθέντα. Η διαφορά εδώ είναι ότι η επισύναψη αναζητά αιτήσεις στις οποίες το πεδίο
                        "Συνέχεια επιδόματος" είναι τσεκαρισμένο.
                    </li>
                    <li style="margin-bottom:10px">
                        Για επισύναψη αιτήσεων στέγασης επιλέγουμε από το πλαίσιο λίστας "Για επίδομα" την τιμή "Στέγασης".
                    </li>
                    <li style="margin-bottom:10px">
                        Αν θέλουμε να επισυνάψουμε και αιτήσεις σίτισης (που δεν είναι κατ' εξαίρεση), μετά την πρώτη επισύναψη επιλέγουμε στο πλαίσιο λίστας "Για επίδομα"
                        την τιμή "Σίτισης" οπότε επισυνάπτονται και οι αντίστοιχες αιτήσεις σίτισης.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Αποφάσεις κατ' εξαίρεση στέγασης:
                <ul>
                    <li style="margin-bottom:10px">
                        Όλες οι εργασίες είναι ίδιες με τα παραπάνω αναφερθέντα.
                    </li>
                    <li style="margin-bottom:10px">
                        Για επισύναψη αιτήσεων στέγασης κατ' εξαίρεση επιλέγουμε από το πλαίσιο λίστας "Για επίδομα" την τιμή "Στέγασης κατ' εξαίρεση".
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Αποφάσεις κατ' εξαίρεση σίτισης:
                <ul>
                    <li style="margin-bottom:10px">
                        Όλες οι εργασίες είναι ίδιες με τα παραπάνω αναφερθέντα.
                    </li>
                    <li style="margin-bottom:10px">
                        Για επισύναψη αιτήσεων σίτισης κατ' εξαίρεση επιλέγουμε από το πλαίσιο λίστας "Για επίδομα" την τιμή "Σίτισης κατ' εξαίρεση".
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                Μητρώο αποφάσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Η σελίδα αυτή έχει καθαρά βοηθητική λειτουργία καθόσον, επί του παρόντος, δεν γίνεται καμία επεξεργασία δεδομένων από εδώ.<br />
                        Μπορεί όμως εδώ να γίνει εύκολη αναζήτηση κάποιας απόφασης προκειμένου να ΄να την επεξεργαστούμε από την αντίστοιχη σελίδα της εφαρμογής.<br />
                        Στο επάνω μέρος της σελίδας βρίσκεται το πλέγμα με όλες τις αποφάσεις (και των τεσσάρων ειδών) ενοποιημένες σε ένα εικονικό πίνακα. Στο
                        κάτω μέρος υπάρχει καρτέλα που δείχνει τις επιδοτήσεις και τα βασικά στοιχεία που συσχετίζονται με την επιλεγμένη απόφαση.
                    </li>
                    <li style="margin-bottom:10px">
                        Η επιλογής μια απόφασης γίνεται, κατά τα γνωστά πλέον, με κλικ στην αντίστοιχη γραμμή του πλέγματος. Κάθε φορά που επιλέγουμε μια
                        απόφαση αλλάζουν και τα δεδομένα που εμφανίζονται στην κάτω καρτέλα.
                    </li>
                    <li style="margin-bottom:10px">
                        Η λειτουργία ομαδοποίησης των δεδομένω του πλέγματος είναι ιδιαίτερα χρήσιμη εδώ. Η προεπιλεγμένη ομαδοποίηση είναι ως προς το
                        σχολικό έτος. Το πλέγμα μπορεί να ομαδοποιηθεί ως προς οποιαδήποτε στήλη του. Η επιλογή της στήλης για ομαδοποίηση εξαρτάται από το
                        ερώτημα στο οποίο θέλουμε γρήγορη απάντηση.
                    </li>
                    <li style="margin-bottom:10px">
                        Για παράδειγμα, εάν θέλουμε να δούμε ποιές αποφάσεις είναι ακόμη σε στάδιο "σχέδιο εγγράφου" μπορούμε να προσθέσουμε στην υπάρχουσα
                        ομαδοποίηση τη στήλη "Είδος εγγράφου" οπότε έχουμε άμεσα απάντηση στο παραπάνω ερώτημα.
                    </li>
                    <li style="margin-bottom:10px">
                        Για πιό σύνθετες αναζητήσεις μπορεί να γίνει και συνδυασμός φίλτρων και ομαδοποίησης. Οι δυνατότητες είναι απεριόριστες, χρειάζεται
                        μόνο εξάσκηση.
                    </li>
                </ul>
            </p>
            <p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 5 (Επιδοτήσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Λειτουργίες που αφορούν τη διαχείριση των επιδοτήσεων
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                Τι είναι πρακτικά οι επιδοτήσεις:
                <ul>
                    <li style="margin-bottom:10px">
                        Όταν κάνουμε επισύναψη αιτήσεων στις αποφάσεις (βλ. ΟΔΗΓΙΕΣ 4), κάθε αίτηση που επιλέγεται από την εφαρμογή αντιγράφεται σε
                        νέο πίνακα που ονομάζεται επιδότηση.  Δηλαδή μια αίτηση μετατρέπεται σε επιδότηση και συνδέεται με κάποια απόφαση.
                    </li>
                    <li style="margin-bottom:10px">
                        Υπάρχουν τέσσερα είδη επιδοτήσεων, που αντιστοιχούν στα τέσσερα είδη αποφάσεων. Δηλαδή, υπάρχουν οι επιδοτήσεις χορήγησης, συνέχειασ,
                        στέγασης κατ' εξαίρεση και σίτισης κατ' εξαίρεση.
                    </li>
                    <li style="margin-bottom:10px">
                        Δημιουργείται έτσι ένα μητρώο επιδοτήσεων το οποίο περιέχει ακριβή (πραγματικά) οικονομικά στοιχεία - τις δαπάνες επιδοτήσεων.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Κοινά στοιχεία επιδοτήσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή υπάρχει στο άνω τμήμα το πλέγμα με τις επιδοτήσεις που έχουν δημιουργηθεί από τις αποφάσεις χορήγησης. Στο κάτω τμήμα
                        βρίσκεται καρτέλα που προβάλλει κάποια επιπλέον στοιχεία της επιλεγμένης επιδότησης.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να επιλέξουμε μια επιδότηση κάνουμε, κατά τα γνωστά, κλικ στην αντίστοιχη γραμμή πλέγματος, οπότε εμφανίζεται χρωματισμένη.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα ποσά επιδότησης στο πλέγμα είναι υπολογισμένα ως προς το σχολικό έτος - έχουν υπολογισθεί, δηλαδή τα ετήσια ποσά επιδότησης.
                        για κάθε μαθητή.
                    </li>
                    <li style="margin-bottom:10px">
                        Το κάθε πλέγμα έχει προεπιλεγμένη ομαδοποίηση ως προς το σχολικό έτος, μπορούμε, όμως, να προσθέσουμε και άλλα επίπεδα ομαδοποίησης, 
                        ή να καταργήσουμε την υπάρχουσα και να δημιουργήσουμε άλλες ομαδοποιήσεις.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο πλέγμα εμφανίζονται και δύο είδη συνόλων. Το ένα είναι το γενικό σύνολο δαπάνης και το άλλο το μερικό σύνολο το οποίο εξαρτάται από 
                        την ομαδοποίηση των εγγραφών. Π.χ. αν ομαδοποιήσουμε ως προς την Περιφεριακή εμφάνίζονται το πλήθος μαθητών και το συνολικά ποσά για κάθε
                        περιφερειακή.
                    </li>

                    <li style="margin-bottom:10px">
                        Κάθε είδος επιδότησης έχει και την αντίστοιχη έκθεση. Η έκθεση έχει τρεις παραμέτρους: Σχολικό έτος, Περιφερειακή και Σχολική μονάδα.
                        Στις δύο τελευταίες παραμέτρους μπορούμε να επιλέξουμε περισσότερες από μία τιμές. Π.χ. να εκτυπώσουμε την έκθεση για δύο Περιφερειακές
                        και όλα τα σχολεία της κάθε Περιφερειακής.
                    </li>
                    <li style="margin-bottom:10px">
                        Στην έκθεση εμφανίζονται αναλυτικά τα ετήσια ποσά επιδότησης (όπως στο πλέγμα) για κάθε μαθητή καθώς και τα  σύνολα ανά σχολείο,
                        περιφερειακή και το γενίκό σύνολο του σχολικού έτους.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Ολικό μητρώο επιδοτήσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή εμφανίζεται στο πλέγμα εικονικός πίνακας με όλα τα είδη επιδοτήσεων μαζί. Με αυτό τον τρόπο, τα σύνολα που
                        υπολογίζονται αφορύν τις συνολικές δαπάνες όλων των αποφάσεων.
                    </li>
                    <li style="margin-bottom:10px">
                        Το ίδιο ισχύει και τη συνοδευτική έκθεση του μητρώου επιδοτήσεων.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Πίνακες δαπάνης επιδοτήσεων: Συγκεντρωτικό ανά είδος επιδόματος
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή εμφανίζεται στο πλέγμα εικονικός πίνακας με συγκεντρωτικά στοιχεία για κάθε σχολική μονάδα και είδος επιδόματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Το ίδιο ισχύει και τη συνοδευτική έκθεση. Η έκθεση έχει τρεις παραμέτρους: το σχολικό έτος (επιλέγεται μόνο μια τιμή), την 
                        Περιφερειακή και το είδος επιδόματος - στα δύο τελευταία μπορούμε να επιλέξουμε περισσότερες από μια τιμές.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Πίνακες δαπάνης επιδοτήσεων: Συγκεντρωτικό ανά περιφερειακή και σχολή
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή εμφανίζεται στο πλέγμα εικονικός πίνακας με συγκεντρωτικά στοιχεία για κάθε σχολική μονάδα. Η διαφορά εδώ είναι
                        ότι έχουν υπολογιστεί τα μερικά σύνολα ποσών για όλα τα είδη επιδόματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Το ίδιο ισχύει και τη συνοδευτική έκθεση. Η έκθεση έχει δύο παραμέτρους: το σχολικό έτος (επιλέγεται μόνο μια τιμή) και την
                        Περιφερειακή - για την οποία μπορούμε να επιλέξουμε περισσότερες από μια τιμές.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                Πίνακες δαπάνης επιδοτήσεων: Συγκεντρωτικό ανά σχολικό έτος
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή εμφανίζεται στο πλέγμα εικονικός πίνακας με τα γενικά σύνολα δαπάνης ανά σχολικό έτος.<br />
                        Σκοπός της σελίδας αυτής είναι να δώσει γρήγορη απάντηση στο ερώτημα "Ποιά είναι η συνολική δαπάνη στέγασης-σίτισης για ένα σχολικό έτος".
                    </li>
                    <li style="margin-bottom:10px">
                        Δεν υπάρχει εδώ συνοδευτική έκθεση καθόσον το γενικό σύνολο υπολογίζεται και στις προηγούμενες εκθέσεις, και κυρίως
                        αυτή που αφορά τα συγκεντρωτικά στοιχεία ανά περιφερειακή και σχολείο.
                    </li>
                </ul>
            </p>
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 6 (Στατιστικά στοιχεία)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Στατιστικά (ετήσια):
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        (1) Στατιστικά αιτήσεων
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Πλήθος αιτήσεων ανά φύλο:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή εμφανίζεται σελίδα, σε νέα καρτέλα του περιηγητή, με εκτυπώσιμη έκθεση που αφορά την κατανομή του πλήθους αιτήσεων
                        ανά φύλο με στοιχεία από όλες τις σχολικές μονάδες.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο δεξιό μέρος της εμφανιζόμενης έκθεσης βρίσκεται η περιοχή παραμέτρων της έκθεσης. Όταν υπάρχουν παράμετροι πρέπει να κάνουμε επιλογή τιμών,
                        προκειμένου να εμφανιστούν τα στοιχεία της έκθεσης.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη συγκεκριμένη έκθεση πρέπει να επιλέξουμε κάποιο σχολικό έτος για εμφάνιση των δεδομένων (εάν υπάρχουν).
                    </li>
                    <li style="margin-bottom:10px">
                        Κάθε έκθεση της εφαρμογής μπορεί να εξαχθεί σε μορφή Excel ή Word ή ως PDF, από το κουμπί με το εικονίδιο νέφους. Το κουμπί με το εικονίδιο
                        του εκτυπωτή ζητά είτα να αποθηκευτεί ως pdf ή αν ανοιχθεί με τον Acrobat Reader για να εκτυπωθεί.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Κατανομή με ή χωρίς κοινωνικά κριτήρια:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή εμφανίζεται σελίδα, σε νέα καρτέλα του περιηγητή, με εκτυπώσιμη έκθεση που αφορά την κατανομή του πλήθους αιτήσεων
                        των μαθητών που ανήκουν σε ευπαθή ομάδα και αυτών που δεν ανήκουν.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο δεξιό μέρος της εμφανιζόμενης έκθεσης βρίσκεται η περιοχή παραμέτρων της έκθεσης. Όταν υπάρχουν παράμετροι πρέπει να κάνουμε επιλογή τιμών,
                        προκειμένου να εμφανιστούν τα στοιχεία της έκθεσης.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη συγκεκριμένη έκθεση πρέπει να επιλέξουμε κάποιο σχολικό έτος για εμφάνιση των δεδομένων (εάν υπάρχουν).
                    </li>
                    <li style="margin-bottom:10px">
                        Κάθε έκθεση της εφαρμογής μπορεί να εξαχθεί σε μορφή Excel ή Word ή ως PDF, από το κουμπί με το εικονίδιο νέφους. Το κουμπί με το εικονίδιο
                        του εκτυπωτή ζητά είτα να αποθηκευτεί ως pdf ή αν ανοιχθεί με τον Acrobat Reader για να εκτυπωθεί.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Κατανομή ανά ηλικιακή ομάδα:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή εμφανίζεται σελίδα, σε νέα καρτέλα του περιηγητή, με εκτυπώσιμη έκθεση που αφορά την κατανομή του πλήθους αιτήσεων
                        ως προς ομάδες ηλικιών.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο δεξιό μέρος της εμφανιζόμενης έκθεσης βρίσκεται η περιοχή παραμέτρων της έκθεσης. Όταν υπάρχουν παράμετροι πρέπει να κάνουμε επιλογή τιμών,
                        προκειμένου να εμφανιστούν τα στοιχεία της έκθεσης.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη συγκεκριμένη έκθεση πρέπει να επιλέξουμε κάποιο σχολικό έτος για εμφάνιση των δεδομένων (εάν υπάρχουν).
                    </li>
                    <li style="margin-bottom:10px">
                        Κάθε έκθεση της εφαρμογής μπορεί να εξαχθεί σε μορφή Excel ή Word ή ως PDF, από το κουμπί με το εικονίδιο νέφους. Το κουμπί με το εικονίδιο
                        του εκτυπωτή ζητά είτα να αποθηκευτεί ως pdf ή αν ανοιχθεί με τον Acrobat Reader για να εκτυπωθεί.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        (2) Στατιστικά επιδοτήσεων
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Πλήθος ανά Περιφερειακή:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή εμφανίζεται σελίδα, σε νέα καρτέλα του περιηγητή, με εκτυπώσιμη έκθεση που αφορά την κατανομή του πλήθους επιδοτούμενων
                        ανά Περιφερειακή Δ/νση.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο δεξιό μέρος της εμφανιζόμενης έκθεσης βρίσκεται η περιοχή παραμέτρων της έκθεσης. Όταν υπάρχουν παράμετροι πρέπει να κάνουμε επιλογή τιμών,
                        προκειμένου να εμφανιστούν τα στοιχεία της έκθεσης.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη συγκεκριμένη έκθεση πρέπει να επιλέξουμε κάποιο σχολικό έτος για εμφάνιση των δεδομένων. Η έκθεση εμφανίζει γράφημα και πίνακα τιμών.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                Δαπάνη ανά Περιφερειακή:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή εμφανίζεται σελίδα, σε νέα καρτέλα του περιηγητή, με εκτυπώσιμη έκθεση που αφορά την κατανομή της δαπάνης επιδοτούμενων
                        ανά Περιφερειακή Δ/νση.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο δεξιό μέρος της εμφανιζόμενης έκθεσης βρίσκεται η περιοχή παραμέτρων της έκθεσης. Όταν υπάρχουν παράμετροι πρέπει να κάνουμε επιλογή τιμών,
                        προκειμένου να εμφανιστούν τα στοιχεία της έκθεσης.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη συγκεκριμένη έκθεση πρέπει να επιλέξουμε κάποιο σχολικό έτος για εμφάνιση των δεδομένων. Η έκθεση εμφανίζει γράφημα και πίνακα τιμών.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.6.png" style="width:42px;height:42px" />
                Πλήθος ανά είδος επιδόματος:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή εμφανίζεται σελίδα, σε νέα καρτέλα του περιηγητή, με εκτυπώσιμη έκθεση που αφορά την κατανομή του πλήθους επιδοτούμενων
                        ανά είδος επιδόματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο δεξιό μέρος της εμφανιζόμενης έκθεσης βρίσκεται η περιοχή παραμέτρων της έκθεσης. Όταν υπάρχουν παράμετροι πρέπει να κάνουμε επιλογή τιμών,
                        προκειμένου να εμφανιστούν τα στοιχεία της έκθεσης.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη συγκεκριμένη έκθεση πρέπει να επιλέξουμε κάποιο σχολικό έτος για εμφάνιση των δεδομένων. Η έκθεση εμφανίζει γράφημα και πίνακα τιμών.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.7.png" style="width:42px;height:42px" />
                Δαπάνη ανά είδος επιδόματος:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή εμφανίζεται σελίδα, σε νέα καρτέλα του περιηγητή, με εκτυπώσιμη έκθεση που αφορά την κατανομή της δαπάνης επιδοτούμενων
                        ανά είδος επιδόματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο δεξιό μέρος της εμφανιζόμενης έκθεσης βρίσκεται η περιοχή παραμέτρων της έκθεσης. Όταν υπάρχουν παράμετροι πρέπει να κάνουμε επιλογή τιμών,
                        προκειμένου να εμφανιστούν τα στοιχεία της έκθεσης.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη συγκεκριμένη έκθεση πρέπει να επιλέξουμε κάποιο σχολικό έτος για εμφάνιση των δεδομένων. Η έκθεση εμφανίζει γράφημα και πίνακα τιμών.
                    </li>
                </ul>
            </p>
            <p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 7 (Λειτουργίες πλεγμάτων)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Δυνατότητες προβολής δεδομένων στα πλέγματα
                    </font>
                </span>
                <br />
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                Όταν τα δεδομένα εμφανίζονται μέσα σε πλέγματα (πίνακες) έχουμε στη διάθεσή μας ορισμένες
                χρήσιμες δυνατότητες, οι οποίες είναι:
                <ol>
                    <li>
                        Ταξινόμηση
                    </li>
                    <li>
                        Ομαδοποίηση
                    </li>
                    <li>
                        Φίλτρα
                    </li>
                </ol>
            </p>
            <p class="sansserif">
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Η ταξινόμηση αλλάζει κάνοντας κλικ επάνω στην κεφαλίδα μιας στήλης. Έχουμε τρία είδη
                ταξινομήσης:
                <ul>
                    <li>
                        Προεπιλεγμένη ταξινόμηση - αυτή που χρησιμοποιείται από την εφαρμογή. Δεν εμφανίζεται βελάκι στην κεφαλίδα.
                    </li>
                    <li>
                        Αύξουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα επάνω.
                    </li>
                    <li>
                        Φθίνουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα κάτω.
                    </li>
                </ul>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Η ομαδοποίηση προβάλλει τα δεδομένα σε κατηγορίες που ορίζονται από τις κεφαλίδες των στηλών που
                θα επιλέξουμε. Σε πολλές περιπτώσεις είναι μια πολύ χρήσιμη λειτουργία με την οποία μπορεί κανείς να εξάγει άμεσα κάποιες πληροφορίες*.<br />
                Ο τρόπος λειτουργίας της ομαδοποίησης παρουσιάζεται με τρία τυπικά παραδείγματα:
                <ul>
                    <li>
                        Έστω το πλέγμα με τις αιτήσεις μαθητών: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Τάξη' τότε
                        τα δεδομένα κατηγοριοποιούνται/ομαδοποιούνται σύμφωνα με τις τιμές της στήλης αυτής. Έτσι, μπορούμε
                        να έχουμε σε μια ομάδα όλους τους μαθητές της Α' τάξης, σε άλλη αυτούς της Β' τάξης κ.λπ.
                    </li>
                    <li>
                        Έστω το πλέγμα με τις αιτήσεις μαθητών: Εάν ομαδοποιήσουμε με βάση τις στήλες 'Ειδικότητα' και 'Τάξη'
                        τότε τα δεδομένα ομαδοποιούνται πρώτα ανά Ειδικότητα, και μετά ανά Τάξη. Έτσι. δημιουργούμε ομάδες
                        δεδομένων μέσα σε άλλη ομάδα.
                    </li>
                    <li>
                        Τα πλέγματα, στα οποία έχει ορισθεί η δυνατότητα ομαδοποίησης εμφανίζουν επάνω από τα ονόματα στηλών μια γραμμή με το λεκτικό
                        "Σύρετε την κεφαλίδα στήλης εδώ, για ομαδοποίηση κατά τη στήλη αυτή". Για κάποιες στήλες πλεγμάτων δεν έχει νόημα η ομαδοποίηση,
                        οπότε αυτές δεν μπορούν να συρθούν στη γραμμή ομαδοποίησης.
                    </li>
                    <li>
                        *Παράδειγμα : Στο πλέγμα αιτήσεων της σελίδας "Μητρώο αιτήσεων στέγασης-σίτισης" μια ομαδοποίηση ως προς το επίδομα δείχνει άμεσα ποιοι
                        μαθητές κάνουν αίτηση για το κάθε επίδομα, ενώ μια ομαδοποίηση ως προς τον μαθητή δείχνει άμεσα ποιες αιτήσεις έχει κάνει.
                    </li>
                </ul>
            </p>
            <p></p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Τα φίλτρα ως προς μια ή περισσότερες στήλες δίνουν τη δυνατότητα εμφάνισης μόνο των δεδομένων
                που ικανοποιούν τα κριτήρια που εισάγαμε.<br />
                Για να εισάγουμε ένα κριτήριο σε μια στήλη κάνουμε κλικ στο σύμβολο φίλτρου που υπάρχει σε κάθε
                κεφαλίδα στήλης. Στη συνέχει ορίζουμε το φίλτρο. Ενδεικτικά, αναφέρουμε τρία παραδείγματα:
                <ol>
                    <li>
                        Έστω το πλέγμα Μητρώου μαθητών. Αν ορίσουμε το φίλτρο στη στήλη 'Ονοματεπώνυμο' ως:<br />
                        'Αρχίζει από' + "Κ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ονοματεπώνυμο'
                        έχει τιμές όπου το πρώτο γράμμα είναι 'Κ' (προσοχή στο ελληνικό Κ και Λατινικό Κ - δεν είναι ίδια!)
                    </li>
                    <li>
                        Έστω το πλέγμα Μητρώου μαθητών. Αν ορίσουμε το φίλτρο στη στήλη 'Ειδικότητα' ως:<br />
                        'Περιέχει' + "ΑΙΣΘΗΤ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ειδικότητα'
                        έχει τιμές που περιέχουν το λεκτικό αυτό. Το αποτέλεσμα είναι η προβολή μόνο των τεχνικών αισθητικής τέχνης.
                    </li>
                    <li>
                        Έστω ένα πλέγμα με στήλη που περιλαμβάνει ημερομηνίες. Αν ορίσουμε το φίλτρο στη στήλη 'Ημερομηνία' ως:<br />
                        'Μετά από ή ίση με' + "01/01/2016" ΚΑΙ 'Πριν από' + "04/05/2016", εμφανίζονται
                        μόνο οι εγγραφές για τις οποίες η στήλη 'Ημερομηνία' έχει τιμές που ικανοποιούν το κριτήριο αυτό.
                        Το αποτέλεσμα είναι η προβολή μόνο των βεβαιώσεων προϋπηρεσιών μεταξύ των δύο ημερομηνιών που ορίσαμε.
                    </li>

                </ol>
            </p>
            <p /><br />
        </div>
            </text>);
        }).ExpandMode(PanelBarExpandMode.Multiple)
    </div>
</body>
