@{
    ViewBag.Title = "Λειτουργίες";
}


<h1>@ViewBag.Title.</h1><p></p><p></p><br/>
<h3>@ViewBag.Message</h3>

<div class="k-floatwrap">
    <div style="float: left">
        <!-- Info area -->
        <article>
            <p></p>
            <p class="sansserif" style="font-weight:bold">
                Οι βασικές λειτουργίες της εφαρμογής Primus είναι οι εξής:
            </p>
            <p></p>
            <p class="sansserif">
                1. Δημιουργία ηλεκτρονικού μητρώου επιδοτούμενων μαθητών.
            </p>
            <p class="sansserif">
                2. Δημιουργία μητρώου επιδοτήσεων ανά σχολικό έτος.
            </p>
            <p class="sansserif">
                3. Διαχείριση αποφάσεων στέγασης-σίτισης.
            </p>
            <p class="sansserif">
                4. Ποσοτική ανάλυση των καταχωρημένων πληροφοριών.
            </p>
            <p class="sansserif">
            </p>
            <p></p>
        </article>
        <!-- /Info area -->
    </div>

</div>
<p></p><p></p>

<div>
    <hr style="background-color:#000080">
    <table width:100%>
        <tr>
            <td width="10%" align="left"><img src="~/images/metro/dypa-logo.png" height="70" width="86" /></td>
            <td align="center">
                <font color="#000000" size="3" style="font-weight:600">Διεύθυνση Επαγγελματικής Εκπαίδευσης και Μαθητείας</font>
            </td>
        </tr>
        <tr>
            <td width="10%" align="left"></td>
            <td align="center">
                <font color="#000000" size="2">Μελέτη-Ανάπτυξη: Δρ. Γεώργιος Κυριακάκης</font>
            </td>
        </tr>
    </table>
</div>
