@using Primus.DAL;
@using Primus.Models;

@{
    ViewBag.Title = "Ειδικότητες σχολείου";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

    @Html.AntiForgeryToken()
    <div class="page-header" style="margin:5px 60px 5px 60px">
        <span style="margin:5px 60px 5px 0px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
            <font style="color:#494949;font-family:'Segoe UI'">Ειδικότητες του σχολείου</font>
        </span>
        <span style="margin:5px 10px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
            @Html.ActionLink("Επιστροφή", "Index", "School", null, new { @class = "btn btn-warning", style = "font-size:14px" })
        </span>
        <button class="btn btn-success" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
    </div>

    <div class="body-content" style="margin:10px 60px 5px 60px">
        <div class="row">

        @(Html.Kendo().Grid<SysSchoolYearViewModel>()
        .Name("Master")
        .Columns(columns =>
        {
            columns.Bound(m => m.SCHOOLYEAR_TEXT).Width(25);
            columns.Bound(m => m.DATE_START).Width(25);
            columns.Bound(m => m.DATE_END).Width(25);
            columns.Bound(m => m.SCHOOLYEAR_ID).Hidden();
        })
        .Filterable()
        .Selectable()
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(240))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
        .Ajax()
        .Batch(false)
        .PageSize(20)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.SCHOOLYEAR_ID);
        })
        .Read(read => read.Action("SchoolYear_Read", "Settings"))
        ) @* datasource*@
        .Events(events => events.Change("change"))
        )

        </div>

        <div class="row" style="margin-top:10px">

        @(Html.Kendo().Grid<EidikotitaYearSchoolViewModel>()
        .Name("Child")
        .Columns(columns =>
        {
            columns.ForeignKey(f => f.EIDIKOTITA_ID, (IEnumerable<ΕΙΔΙΚΟΤΗΤΕΣ>)ViewData["eidikotites"], "EIDIKOTITA_ID", "EIDIKOTITA_TEXT")
                .ClientFooterTemplate("Συνολικό πλήθος: #=count#")
                .ClientGroupFooterTemplate("Πλήθος: #=count#")
                .Width(100);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(30);
        })

        .ToolBar(toolBar =>
        {
            toolBar.Create();
        })
        .Filterable()
        .Navigatable()
        .Groupable()
        .HtmlAttributes(new { style = "font-size:12px"})
        .Editable(editable => editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Top))
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(340))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
        .Ajax()
        .PageSize(40)
        .ServerOperation(false)
        .Events(e => e.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.SYE_ID);
            model.Field(p => p.SCHOOL_ID).DefaultValue(1);
            model.Field(p => p.EIDIKOTITA_ID).DefaultValue(1);
        })
        .Create(create => create.Action("SchoolEidikotita_Create", "Settings").Data("getSchoolYear"))
        .Read(read => read.Action("SchoolEidikotita_Read", "Settings"))
        .Update(update => update.Action("SchoolEidikotita_Update", "Settings").Data("getSchoolYear"))
        .Destroy(delete => delete.Action("SchoolEidikotita_Destroy", "Settings"))
        .Events(events => events.Error("error_handler"))
        .Aggregates(a =>
        {
            a.Add(p => p.EIDIKOTITA_ID).Count();
        })
        ) @* datasource*@
        )

        </div>

    </div>

<script type="text/javascript">

    function getSchoolYear() {
        var masterGrid = $("#Master").data("kendoGrid");
        // get data item for selected row
        var dataItem = masterGrid.dataItem(masterGrid.select());
        if (dataItem) {
            return { schoolyearId: dataItem.SCHOOLYEAR_ID };
        }
        else {
            return { schoolyearId: 0 };
        }
    }

    function change(e) {
        var dataItem = this.dataItem(this.select());
        var schoolyearID = dataItem.SCHOOLYEAR_ID;

        $("#Child").data("kendoGrid").dataSource.read({ schoolyearId: schoolyearID });
        $("#Child").css("display", "block");
    }

    function RefreshGrid(e) {
        var grid = $("#Child").data("kendoGrid");
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
            $("#Child").data("kendoGrid").dataSource.read();
        }
    }

</script>
